<div class="modal">
  <ion-header-bar>
    <h1 class="title">About ACM</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios7-close-empty" ng-click="closeAbout()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="row">
  	<div class="col">
  <p>
  	As the first and leading provider in Agility services in Turkey, ACM assists numerous local and international clients to help them to be more Agile through its training, coaching, consulting, and outsourcing services.
  	<br />
  	<center>
  	<a href="javascript:window.open('http://www,acm-software.com', '_system', 'location=yes');">www.acm-software.com</a>
  	</center>
  	<br />
  	<center>
<div class="video-container">
         <iframe src="http://www.youtube.com/embed/6shJykyhuJE" frameborder="0" width="560" height="315"></iframe>
</div>  		
  	</center>
  </p>
  		
  	</div>
  </div>
  </ion-content>
</div>

