<div class="modal" on-swipe="closeCard()" ng-click="closeCard()" style="background-color: #{{selectedCard.color}}">
  <div class="has-header full-height">
	<div class="full-height">
  <div class="cardheader text-shadow">
    {{selectedCard.text}}
  </div>
  <div class="full-height text-center bigtext ">
    <div class="text-middle text-shadow" ng-if="selectedCard.text!='?' && selectedCard.text!='C'" >{{selectedCard.text}}</div>
    <div class="text-middle text-shadow" ng-if="selectedCard.text=='?' && selectedCard.text!='C'" ><i class="ion-help"></i></div>
    <div class="text-middle text-shadow" ng-if="selectedCard.text!='?' && selectedCard.text=='C'" ><i class="ion-coffee"></i></div>
  </div>

</div> 
  </div>
    <div class="cardfooter text-shadow">
    {{selectedCard.text}}
  </div>
</div>

