<div class="modal" on-swipe-right="closeInfo()">
  <ion-header-bar>
    <h1 class="title">How To Play?</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios7-close-empty" ng-click="closeInfo()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="row">
  	<div class="col">
  <p>Planning Poker is played in the following steps:</p>
  	<p><b>1.</b>Each estimator has a deck of estimation cards.</p>
  	<p><b>2.</b>Customer/Product Owner reads a requirement/user story and it's discussed briefly.</p>
  	<p><b>3.</b>Each estimator selects a card that's his or her estimate.</p>
  	<p><b>4.</b>Cards are turned over so all can see them (synchronously).</p>
  	<p><b>5.</b>Discuss differences (especially outliers).</p>
  	<p><b>6.</b>Re-estimate until estimates converge.</p>
  <p>Avoid anchoring: "I'm throwing a 5", "This one is easy" and etc.</p>
  		
  	</div>
  </div>
  </ion-content>
</div>

