 <ion-view title="Agile Poker" ng-controller="HeaderCtrl">
      <ion-content class="has-header" ng-controller="SettingsCtrl">
<form><div class="row" ng-repeat="rows in partitionedData" ng-controller="CardsCtrl">

 	 <div class="col" ng-repeat="item in rows" ng-if="item.text!='?' && item.text!='C'">
  	<div class="card no-padding">
  	 
  		<div class="item text-center no-padding" ng-if="item!='C' && item!='?'">
  		<input type="text" maxlength="3" class="text-center" ng-model="item.text" />
  		
  		</div> 		

  		
  	</div>

  	</div>
  	
</div> 	
<button ng-click="save()">Save</button>
</form>
			

    </ion-content>
 </ion-view>